


body {background-color:#F2F2F2 ;}
.swiper {
  width: 600px;
  height: 300px;
}



    .divTable
    {
        display:  table;
        width:auto;


        border-spacing:5px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

    .divRow
    {
       display:table-row;

    }

    .input
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width: 552px;
        height: 56px;
        left: 31px;
        top: 27px;



        border: 1px solid #EAEAF3;
        box-sizing: border-box;
        border-radius: 12px;


        /* Ваше имя */



        padding: 16px 418px 16px 50px ;
        margin-bottom: 16px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        /* identical to box height, or 133% */



        color: #BCBCC7;

    }

    /* CONTAINER */
    #input {

  width: 552px;
  height: 56px;
  left: 31px;
  top: 27px;

  background: #FFFFFF;
  /* lighGrey_2 */

  border: 1px solid #EAEAF3;
  box-sizing: border-box;
  border-radius: 12px;


      margin: 16px;
      background-color: whitesmoke;
      border: none;

      box-shadow: 0 0 0 1px #EAEAF3;
      outline: none;
      transition: .1s;
      display: grid;
      grid-template-columns: 56px 440px 56px;
      grid-template-rows: 56px ;
    }

    #input-filled {

  width: 552px;
  height: 56px;
  left: 31px;
  top: 27px;

  background: #FFFFFF;
  /* lighGrey_2 */


  box-sizing: border-box;
  border-radius: 12px;


      margin: 16px;
      background-color: whitesmoke;
      border: none;

      box-shadow: 0 0 0 1px #19B7BB;
      outline: none;
      transition: .1s;
      display: grid;
      grid-template-columns: 56px 440px 56px;
      grid-template-rows: 56px ;
    }

    /* ITEM */
    .item {
      display: flex;

      align-items: center;
      /*border: 1px solid #222; */
      text-align: center;
      font-family: arial, sans-serif;
      font-weight: bold;
      cursor: pointer;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: #BCBCC7;

    }

    .bold-text {
      display: flex;

      align-items: center;
      /* border: 1px solid #222; */
      text-align: center;
      font-family: arial, sans-serif;
      font-weight: bold;
      cursor: pointer;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: black;

    }

    .picture {

      display: flex;
      padding-left: 16px;
      align-items: center;
      /* border: 1px solid #222; */
      text-align: center;
      font-family: arial, sans-serif;
      font-weight: bold;
      cursor: pointer;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
      color: #BCBCC7;

    }

    .item:hover {
      color: yellow;
    }







    /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-radius: 20px 20px 0px 0px;
  background-color: #ddd;}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  border-radius: 22px;
  display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


}
