


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('../images/background.png');
}


.swiper {
  width: 600px;
  height: 300px;

}


  .footer {
    width:91%;
    margin-top: 60px;
    margin-left: 4%;
    margin-right: 4%;
    position: absolute;
    height: 90%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
    backdrop-filter: blur(150px);
    border-radius: 48px;
  }


  .upper {
    padding-left: 2%;
    padding-top: 2%;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #26323E;
    text-decoration: none;
  }

    .right{
      position: absolute;
      top: 6%;
      left: 80%;
      display: flex;

    }

@media (max-width: 1806px)  {
  .upper{
    font-size: 14px;
  }
}


     .nav-li{
       list-style: none;
     }

     .nav-li li {
       transition: all 0.3s ease 0s;
       cursor: pointer;
       display: inline-block;
       padding: 0px 20px;
     }

     .nav-li li:hover {
       color: #19B7BB;
       padding: 0px 50px;
     }






    .circle{
    margin-left: 16px;
    display: flex;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 45px;
    }

           .burger{

             position: absolute;
             display: flex;
             top: 6%;
             left: 91%;
           }

.menu-btn{

  width: 32px;
  height: 32px;
  background-color: #1ACACE;
  border-radius: 50%;
}




.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: white;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  transition: 0.5s;
}

.menu-btn span::before{
  transform: translateY(-5px);
}

.menu-btn span::after{
  transform: translateY(5px);
}

.menu-btn_active span::before{
  transform: rotate(45deg);
}


    .blue-button{
      flex-direction: row;
      align-items: center;
      padding: 16px 32px;
      position: absolute;
      width: 180px;
      height: 35px;
      left: 109px;
      top: 675px;
      background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
      box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
      border-radius: 12px;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      color: #FFFFFF;
      display: flex;
    }


.white-button{
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  position: absolute;
  width: 180px;
  height: 35px;
  left: 385px;
  top: 675px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  border-radius: 12px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
}


.buttun{
  height: 34px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #26323E;
  flex: none;

}

  .bg-text{
    left: 5.93%;
    right: 5.95%;
    top: 0%;
    bottom: 0.24%;
    position: absolute;
    width: 626px;
    left: 112px;
    top: 222px;
    opacity: 0.25;
    box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
    filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
    height: 626px;
  }




   .ppltalk{
     position: absolute;
     left: 49.01%;
     right: 6.41%;
     top: 26.11%;
     bottom: 26.94%;
   }



   .middle {
    display: flex;
     position: absolute;
     width: 50%;
     left: 109px;
     top: 305px;
   }


   @media (max-width:1522px){
  h1 {
  font-size: 105px;

  }
 }

   .middle-text {
     display: flex;
   width: 600px;
   height: 108px;
   left: 109px;
   top: 530px;
   font-family: Ubuntu;
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 36px;
   color: #363E4D;
   }



 @media (max-width:1522px){
.middle-text {
 width: 400px；
font-size: 18px;

}
}


 h1 {
   width: 100%;
   display: flex;
   font-family: Ubuntu;
   font-style: normal;
   font-weight: 800;
   font-size: 100px;
   line-height: 80px;
   letter-spacing: 8px;
   color: #252729;
 }




.topik {
  display: grid;
  grid-template-columns: 38px 38px 24px;
  grid-template-rows: 40px ;
}



.picture {
  padding: 16px;
  display: flex;
  padding-left: 16px;
  align-items: center;
}


.little-text {
  display: flex;
  align-items: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}


.picture-world {
  padding-top: 2px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}


.language {
  margin-left: 16px;
  width: 122px;
  margin-right: 32px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 38px 38px 24px;
  grid-template-rows: 40px ;
  border:0px;
}



.wdud{

position: absolute;
top: 120%;
font-family: Ubuntu;
font-style: bold;
font-weight: 800;
font-size: 64px;
line-height: 80px;
letter-spacing: 0.05em;
color: #252729;
}

.wdud1{
  padding-top: 32px;
  width: 100%;
  border: 1px bold black;
  position: absolute;
  top: 130%;
  box-sizing: border-box;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 31% 3% 31% 3% 32%;
  grid-template-rows: 100% ;
}

.wdud-colums{
width: 100%;
height: 664px;
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
border-radius: 24px;
display: grid;
grid-template-columns: 100%;
grid-template-rows: 10% 15% 55% 10%;
}


.text-colums-mid{
  flex: 100%;
  padding-top: 20px;
  padding-left: 32px;
  height: 96px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.text-colums-big{
padding: 32px 0px 0px 32px;
width: 100%;
height: 48px;
font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 36px;
letter-spacing: 0.03em;
color: #000000;

}


.wdud-picture{
  padding-top: 20px;
  flex: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

  .wdud-button{
    font-family: Ubuntu;
font-style: normal;
font-size: 18px;
color: #FFFFFF;
padding-top: 15px;
  text-align: center;
    margin-top: 3%;
    flex: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
height: 44px;
background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
border-radius: 12px;
  }

  .wdud-button:hover{
    box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
  }


.our-cases{
position: absolute;
top: 230%;
font-family: Ubuntu;
font-style: bold;
font-weight: 800;
font-size: 64px;
line-height: 80px;
letter-spacing: 0.05em;
color: #252729;
}


.our-cases1{
  justify-content: space-around;
padding-top: 40px;
position: absolute;
width: 100%;
height: 320px;
top: 245%;

background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);


border-radius: 24px;
}

.our-cases-colums{
  padding-top: 24px;
  padding-left: 24px;
  margin-left: 10px;
  justify-content: space-around;
  display: inline-grid;
  width: 392px;
  height: 266px;

  background: #FFFFFF;


  box-shadow: 0px 8px 32px rgba(103, 97, 97, 0.1);
  border-radius: 12px;

}


.all-cases{
  justify-content: flex-start;
position: absolute;
width: 416px;
height: 290px;
justify-content: center;
display: inline-flex;
margin-left: 10px;


background: #19B7BB;


box-shadow: 0px 8px 32px rgba(103, 97, 97, 0.1);
border-radius: 12px;
}


.all-cases img{
  padding-top: 15%;
cursor: pointer;
height: 120px;
width: 120px;
}

.all-cases a{
  text-decoration: none;
  display: block;
  list-style: none;
  position: absolute;
  top:67%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;



color: #FFFFFF;
}



.our-cases-colums .letter{
padding-right: 100px;
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 32px;
}


.our-parnters{
  position: absolute;
  top:288%;
  font-family: Ubuntu;
  font-style: bold;
  font-weight: 800;
  font-size: 50px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #252729;
  }

.our-parnters1{

  display: flex;
position: absolute;
width: 100%;
height: 200px;
top: 297%;

align-items: center;
justify-content: space-around;
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
border-radius: 24px;
}

.our-parnters1 img{

}

}

}
