

body {
  margin: 60px;
  margin-bottom: 0px;
  height: 100%;
  background-size: 100%;
  background-attachment: fixed;

  background-image: url('../images/background.png');
}


.swiper {
  width: 600px;
  height: 300px;

}


  .footer {
    top: 60px;
    max-width: 1800px;
    height: auto;
    display: block;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(150px);
    box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
    border-radius:24px;
  }

  .language {
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    width: 122px;
    margin-right: 16px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
    border-radius: 20px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 25px 38px 20px;
    grid-template-rows: 40px ;
    border:0px;
  }

  .upper {
    padding: 25px;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #26323E;
    text-decoration: none;
  }

    .right{

     margin-left:auto;
     display: flex;

    }

   .upper .asd{
 height: 32px;
 width: 280px;
   }


     .nav-li {

       list-style: none;
     }


     .nav-li li {
       transition: all 0.3s ease 0s;
       cursor:pointer;
       display: inline-block;
       padding: 0px 20px;
     }

     .nav-li li a {
       transition: all 0.3s ease 0s;
       cursor: pointer;
     }
     .nav-li li a:hover {
       color: #19B7BB;

     }

.nav-li li a{
  text-decoration: none;
  list-style: none;
  font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
color: #26323E;
}




    .circle{
    margin-left: 16px;
    display: flex;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 45px;
    }

   .call-us23 a{
     display: none;
     position: absolute;
     top: -2px;
     left: -200%;
   }


           .burger{
             width: 40px;
             height: 40px;
             background-color: #1ACACE;
             border-radius: 50%;
          
             position: relative;
           }

           .burger span,
           .burger span::before,
           .burger span::after{
            position: absolute;
            top: 50%; margin-top: -1px;
            left: 50%; margin-left: -10px;
            width: 20px;
            height: 2px;
            background-color: white;
           }

           .burger span::before,
           .burger span::after{
             content: '';
             display: block;
             transition: 0.3s;
           }

           .burger span::before{
             transform: translateY(-5px);
           }

           .burger span::after{
             transform: translateY(5px);
           }


           @media (max-width: 1870px)  {
            nav{
              display: none;
            }

           }



       @media (max-width: 880px){
         .burger{width:28px; height: 28px; top: 5px;}
         .circle{display: none;}

         .upper .asd{padding-top: 12px; height: 15px; width: 128px;}
         body {margin: 30px;}
       }

       @media(max-width: 750px){

         .call-us23 a{display: flex;}
         .language{display: none;}

       }
