


body {
  margin: 60px;
  margin-bottom: 0px;
  height: 100%;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat:repeat-y;
  background-image: url('../images/background.png');
}


.swiper {
  width: 600px;
  height: 300px;

}


  .footer {
    top: 60px;
    max-width: 1800px;
    min-height: 960px;
    display: block;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(150px);
    box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
    border-radius: 32px;
  }

  .language {
    margin-left: 16px;
    width: 122px;
    margin-right: 16px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 38px 38px 24px;
    grid-template-rows: 40px ;
    border:0px;
  }

  .upper {
    padding-left:2%;
    padding-top: 2%;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #26323E;
    text-decoration: none;
  }

    .right{
      position: absolute;
      top: 5%;
      left: 80%;
      display: flex;
    }

   .upper .asd{
 height: 32px;
 width: 280px;
   }


     .nav-li {

       list-style: none;
     }


     .nav-li li {
       transition: all 0.3s ease 0s;
       cursor:pointer;
       display: inline-block;
       padding: 0px 20px;
     }

     .nav-li li a {
       transition: all 0.3s ease 0s;
       cursor: pointer;
     }
     .nav-li li a:hover {
       color: #19B7BB;

     }

.nav-li li a{
  text-decoration: none;
  list-style: none;
  font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
color: #26323E;
}




    .circle{
    margin-left: 16px;
    display: flex;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 45px;
    }

   .call-us23 a{
     display: none;
     position: absolute;
     top: -2px;
     left: -200%;
   }


           .burger{
             width: 40px;
             height: 40px;
             background-color: #1ACACE;
             border-radius: 50%;
             display: none;
             position: relative;
           }

           .burger span,
           .burger span::before,
           .burger span::after{
            position: absolute;
            top: 50%; margin-top: -1px;
            left: 50%; margin-left: -10px;
            width: 20px;
            height: 2px;
            background-color: white;
           }

           .burger span::before,
           .burger span::after{
             content: '';
             display: block;
             transition: 0.3s;
           }

           .burger span::before{
             transform: translateY(-5px);
           }

           .burger span::after{
             transform: translateY(5px);
           }


           @media (max-width: 1806px)  {

            nav{
              display: none;
            }
             .burger{
               display: flex;
               top: 4.5%;
             }

             .right{
              left: 70%;
             }
             .upper{
               font-size: 14px;
             }
             .upper{
               padding-left:48px;
               padding-top: 52px;
             }
           }

       @media (max-width: 1380px){
         .right{left: 60%;}
       }

       @media (max-width: 1060px){
         .right{left: 50%;}
       }

       @media (max-width: 880px){
         .burger{width:28px; height: 28px; top: 5px;}
         .circle{display: none;}
         .right{left: 65%;}
         .upper .asd{padding-top: 12px; height: 15px; width: 128px;}
         body {margin: 30px;}
       }

       @media(max-width: 750px){
         .right{left: 85%;}
         .call-us23 a{display: flex;}
         .language{display: none;}

       }




    .blue-button{
      flex-direction: row;
      align-items: center;
      padding: 16px 32px;
      position: absolute;
      width: 180px;
      height: 35px;
      left: 109px;
      top: 675px;
      background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
      box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
      border-radius: 12px;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      color: #FFFFFF;
      display: flex;
    }


.white-button{
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  position: absolute;
  width: 180px;
  height: 35px;
  left: 385px;
  top: 675px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  border-radius: 12px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
}


.buttun{
  height: 34px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #26323E;
  flex: none;

}

  .bg-text{
    left: 5.93%;
    right: 5.95%;
    top: 0%;
    bottom: 0.24%;
    position: absolute;
    width: 626px;
    left: 112px;
    top: 222px;
    opacity: 0.25;
    box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
    filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
    height: 626px;
  }




   .ppltalk{
     position: absolute;
     left: 49.01%;
     right: 6.41%;
     top: 26.11%;
     bottom: 26.94%;
   }



   .middle {
     display: inline-grid;
     position: absolute;
     width: 50%;
     left: 109px;
     top: 305px;
   }





   .middle-text {
   display: flex;
   width:80%;
   height: 108px;
   font-family: Ubuntu;
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 36px;
   color: #363E4D;
   }






 .middle h1 {
   width: 100%;
   display: flex;
   font-family: Ubuntu;
   font-style: normal;
   font-weight: 800;
   font-size: 60px;
   line-height: 80px;
   letter-spacing: 8px;
   color: #252729;
 }




.topik {
  display: grid;
  grid-template-columns: 38px 38px 24px;
  grid-template-rows: 40px ;
}



.picture {
  padding: 16px;
  display: flex;
  padding-left: 16px;
  align-items: center;
}


.little-text {
  display: flex;
  align-items: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}


.picture-world {
  padding-top: 2px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}



.wdud{
position: absolute;
top: 120%;
font-family: Ubuntu;
font-style: bold;
font-weight: 800;
font-size: 64px;
line-height: 80px;
letter-spacing: 0.05em;
color: #252729;
}

.wdud1{
  padding-top: 32px;
  width: 100%;
  border: 1px bold black;
  position: absolute;
  top: 130%;
  box-sizing: border-box;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 31% 3% 31% 3% 32%;
  grid-template-rows: 100% ;
}

.wdud-colums{
width: 100%;
height: 664px;
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
border-radius: 24px;
display: grid;
grid-template-columns: 100%;
grid-template-rows: 10% 15% 55% 10%;
}


.text-colums-mid{
  flex: 100%;
  padding-top: 20px;
  padding-left: 32px;
  height: 96px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.text-colums-big{
padding: 32px 0px 0px 32px;
width: 100%;
height: 48px;
font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 36px;
letter-spacing: 0.03em;
color: #000000;

}


.wdud-picture{
  padding-top: 20px;
  flex: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

  .wdud-button{
    cursor: pointer;
    font-family: Ubuntu;
font-style: normal;
font-size: 18px;
color: #FFFFFF;
padding-top: 15px;
  text-align: center;
    margin-top: 3%;
    flex: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
height: 44px;
background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
border-radius: 12px;
  }

  .wdud-button:hover{
    box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
  }
  .wdud-button:active{
    background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32), inset 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  }

.our-cases{
position: absolute;
top: 220%;
font-family: Ubuntu;
font-style: bold;
font-weight: 800;
font-size: 64px;
line-height: 80px;
letter-spacing: 0.05em;
color: #252729;
}


.our-cases1{

overflow: hidden;
padding-top: 40px;
position: absolute;
width: 100%;
height: 320px;
top: 230%;

background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);


border-radius: 24px;
}

.our-cases-colums{
  cursor: pointer;
  padding-top: 24px;
  padding-left: 24px;
  margin-left: 21px;
  display: inline-grid;
  width: 392px;
  height: 266px;

  background: #FFFFFF;


  box-shadow: 0px 8px 32px rgba(103, 97, 97, 0.1);
  border-radius: 12px;
}


.all-cases{
  cursor: pointer;
  justify-content: flex-start;
position: absolute;
width: 416px;
height: 290px;
justify-content: center;
display: inline-flex;
margin-left: 24px;


background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);

border-radius: 12px;
}

.all-cases:hover{
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
  border-radius: 12px;
}

.all-cases:active{
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32), inset 0px 0px 16px rgba(0, 0, 0, 0.15);
border-radius: 12px;
}

.all-cases img{

  padding-top: 15%;
cursor: pointer;
height: 120px;
width: 120px;
}

.all-cases a{
  text-decoration: none;
  display: block;
  list-style: none;
  position: absolute;
  top:67%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;



color: #FFFFFF;
}



.our-cases-colums .letter{
padding-right: 100px;
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 32px;
}


.our-parnters{
  position: absolute;
  top:270%;
  font-family: Ubuntu;
  font-style: bold;
  font-weight: 800;
  font-size: 50px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #252729;
  }

.our-parnters1{
  overflow: hidden;
  display: flex;
position: absolute;
width: 100%;
height: 200px;
top: 280%;
align-items: center;

background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
border-radius: 24px;
}

.our-parnters1 img{
  cursor: pointer;
  margin: 0 70px;
}

.get-from{
  position: absolute;
  top:320%;
  font-family: Ubuntu;
  font-style: bold;
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #252729;
  }

.get-from1{
padding-top: 64px;
position: absolute;
max-width: 1800px;
height: 664px;
top: 330%;
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);


border-radius: 24px;
}

.get-from-colums{
  margin-right: 37px;
  margin-left:37px;

  display: inline-grid;
  width:517px;
  height: 266px;





}

.get-from-colums .text1{
margin-bottom: 16px;
justify-content: center;
text-align: center;
font-family: Ubuntu;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */

letter-spacing: 0.03em;

color: #000000;

}

.get-from-colums .text2{
  font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
/* or 133% */

text-align: center;
letter-spacing: 0.02em;

color: #000000;
}

.get-from-colums .img1{
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
  width:328px;

}

.get-from1 .btn{
  cursor: pointer;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 246px;
  height: 64px;
  left: 44%;
  top: 80%;
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  border-radius: 12px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.get-from1 .btn:hover{
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
  border-radius: 12px;
}

.get-from1 .btn:active{
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32), inset 0px 0px 16px rgba(0, 0, 0, 0.15);
border-radius: 12px;
}

.call-us{
  position: absolute;
  top:420%;
  font-family: Ubuntu;
  font-style: bold;
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #252729;
}

.call-us1{
  grid-gap: 24px;
  display: grid;
  margin-right: 24px;
  margin-bottom: 500px;
  position: absolute;
  top: 430%;
  max-width: 1800px;
  height: 585px;

}

.call-us-up{
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
padding: 32px;
width: 100%;
height: 242px;
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
border-radius: 24px;

}

.call-us-up .left {
  height: 192px;
  width: 312px;

}

.call-us-up .left h3{
font-family: Ubuntu;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 32px;
}

.call-us-up .left .a{
margin-top: 10px;
text-decoration: underline;
}

.call-us-up .rigth{
  top:32px;
  left: 50%;
  position: absolute;
  height: 192px;
  width: 312px;

}

.call-us-up .rigth .text-us{
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
margin-bottom: 16px;
width: 264px;
height: 48px;
background: #FFFFFF
border: 1px solid #EAEAF3;
box-sizing: border-box;
box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
border-radius: 12px;
}

.call-us-up img{
  margin-right: 10px;
}

.call-us-down{
align-items: center;
padding: 32px;
width: 100%;
height: 192px;
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
border-radius: 24px;
}


.call-us-down .up-text{
  font-family: Ubuntu;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 32px;
  align-items: flex-start;
}

.call-us-down input{
  justify-content: space-between;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #BCBCC7;
padding-left: 46px;
width: 360px;
height: 56px;
background: #FFFFFF;
border: 1px solid #EAEAF3;
box-sizing: border-box;
border-radius: 12px;
}

.call-us-down input:focus{
color:black;
}

.call-us-down .picture{
top:87px;
left: 32px;
position: absolute;
}

.call-us-down .picture2{
top:105px;
left: 423px;
position: absolute;
}
.call-us-down .picture3{
top:105px;
left: 795px;
position: absolute;
}

.call-us-down .text{
  cursor:text;
  top: 80px;
  left: 80px;
position: absolute;
font-family: Ubuntu;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color:#BCBCC7;
}

.call-us-down .text:hover{
  display: none;
}

.call-us-down button{
left: 550px;
top: 170px;
position: absolute;
width: 158px;
height: 56px;
background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
border-radius: 12px;
border: none;
font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
}

.call-us-down button:hover{
  box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32);
}
.call-us-down button:active{
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
box-shadow: 0px 8px 16px rgba(25, 183, 187, 0.32), inset 0px 0px 16px rgba(0, 0, 0, 0.15);
border-radius: 12px;
}
.call-us-down .text-left{
  margin-top: 30px;
  display: flex;
width: 350px;
  font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
color: #858C99;
opacity: 0.75;
}

.input-t{
  height: 100px;
  width: 100%;
 justify-content: space-between;
}


iframe{
  margin-left: 64px;
  grid-column: 2;
  grid-row: 1/3;
  height: 100%;
  width: 144%;
  display: flex;
  border-radius: 24px;
}

.bottom{
  height: 10px;
  width: 10px;
  background-color: rgba(1, 0, 0, 0);
  justify-content: center;
  align-self: center;
  top: 500%;
  left: 45%;
  position: absolute;
}

.go-up{
  border: none;
  left:48%;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
}

.go-up .left{
  transform-origin: left center;
  transform: rotate(-50deg);
  position: absolute;
  top: 55%;
  left: 50%; margin-left: -9px;
  width:15px;
  height: 2px;
  background-color: white;
}

.go-up .rigth{
  transform-origin:right center;
  transform: rotate(50deg);
  position: absolute;
  top: 55%;
  left: 50%; margin-left: -5px;
  width: 15px;
  height: 2px;
  background-color: white;
}

#start{
  color: rgba(255, 0, 0, 0);
  position: absolute;
  top: 0%;
}


.real-bottom{
  color: rgba(255, 0, 0, 0);
  position: absolute;
  top: 510%;
}


}
